.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Mengatur tinggi untuk mengisi layar penuh
    background-color: #f5f5f5; // Warna latar belakang untuk halaman
  
    .login-card {
      width: 400px; // Lebar card
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px; // Sudut melengkung
    }
  
    mat-card-header {
      text-align: center; // Meratakan judul di tengah
      margin-bottom: 10px;
    }
  
    button {
      width: 100%; // Membuat tombol lebar penuh
      font-weight: bold; // Mempertegas tulisan pada tombol
    }
  }

  .full-width{
    width: 100%;
  }
  