
<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="password" required />
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="login()">Login</button>
      </mat-card-content>
    </mat-card>
  </div>
  